<div id="titlePage">
    <h1><em>Selected Works</em></h1>
    <p>Thomas Mar Wee</p>
</div>


<h1>Table of Contents</h1>
Fiction
    {% for work in site.fiction reversed | sort: "order" %}
        <nav class='toc'>
            <a href='#Fiction-{{ work.order}}'>
                {{ work.title }}
            </a>
        </nav>
    {% endfor %}

Poetry
    {% for work in site.poetry reversed | sort: "order" %}
        <nav class='toc'>
            <a href='#Poetry-{{ work.order}}'>
                {{ work.title }}
            </a>
        </nav>
    {% endfor %}

Essays & Criticism
    {% for work in site.essay-criticism reversed | sort: "order" %}
        <nav class='toc'>
            <a href='#Essay-{{ work.order }}'>
                {{ work.title }}
            </a>
        </nav>
    {% endfor %}

Interviews
    {% for work in site.interviews reversed | sort: "order" %}
        <nav class='toc'>
            <a href='#Interviews-{{ work.order }}'>
                {{ work.title }}
            </a>
        </nav>
    {% endfor %}



<h1 id="Fiction">Fiction</h1>


{% for work in site.fiction reversed | sort: "order" %}
    <div class="titleBox" id='{{ work.order}}'>
        <div class="workTitle" id="Fiction-{{work.order}}">
            <h2>{{ work.title }}</h2>
        </div>
    </div>

    <div class="workText">
        {{ work.content }}
        <p>***</p>

        {% unless work.publicationLink == blank %}
            <p>Published in <a href="{{work.publicationLink}}">{{ work.publication }}</a> in {{ work.dateString }}</p>
        {% endunless %}
    </div>
{% endfor %}

<h1 id="poetry">Poetry</h1>
{% for work in site.poetry reversed | sort: "order" %}
    <div class="titleBox" id='Poetry-{{ work.order}}'>
        <div class="workTitle" id="{{work.order}}">
            <h2>{{ work.title }}</h2>
            <a href="{{work.publicationLink}}"><p>{{ work.publication }}</p></a>
            <p>{{ work.dateString }}</p>
        </div>
    </div>
    

    <div class="workText">
        {{ work.content }}
    </div>
{% endfor %}

<h1 id="essay-criticism">Essays & Criticism</h1>
{% for work in site.essay-criticism reversed | sort: "order" %}
    <div class="titleBox" id='Essay-{{ work.order}}'>
        <div class="workTitle" id="{{work.order}}">
            <h2>{{ work.title }}</h2>
            <a href="{{work.publicationLink}}"><p>{{ work.publication }}</p></a>
            <p>{{ work.dateString }}</p>
        </div>
    </div>
    

    <div class="workText">
        {{ work.content }}
    </div>
{% endfor %}

<h1 id="essay-criticism">Interviews</h1>
{% for work in site.interviews reversed | sort: "order" %}
    <div class="titleBox" id='Interviews-{{ work.order}}'>
        <div class="workTitle" id="{{work.order}}">
            <h2>{{ work.title }}</h2>
            <a href="{{work.publicationLink}}"><p>{{ work.publication }}</p></a>
            <p>{{ work.dateString }}</p>
        </div>
    </div>
    

    <div class="workText">
        {{ work.content }}
    </div>
{% endfor %}