<div id="mainName">
    <a href="/"><h1>Thomas Mar Wee</h1></a>
</div>

<div id="pageButtons">
    <a href="/fiction"><div><p>Fiction</p></div></a>
    <a href="/poetry"><div><p>Poetry</p></div></a>
    <a href="/essay-criticism"><div><p>Essays & Criticism</p></div></a>
    <a href="/print" id="printNav"><div><p>Collected Works</p></div></a>

</div>

<div id="subscribe">
    <p id="subscribeLabel">Subscribe to Substack</p]> 
    <div data-supascribe-embed-id="867364186823" data-supascribe-subscribe></div>
</div>