---
---

body, html{
    // width: 100vw;
    // height: 100vh;
    padding: 0px;
    margin: 0px;
    background-color: rgb(238, 238, 238);
    font-family: "eb-garamond", serif;
    font-weight: 100;
    font-style: normal;
    scroll-behavior: smooth;
}
body.book{
    overflow: visible;

    h1{
        font-size: 48px;
        text-decoration: underline;
        margin-bottom: 0.25in;
    }
    h2{
        font-size: 32px;
        font-weight: 100;
        font-style: italic;
    }
    #titlePage{
        h1{
            margin-bottom: 50vh;
        }
    }
    
    .📖-page-background{
        // background-color: #8295E1;
    }

    #content{
        .toc-row{
            margin-left: 0.25in;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-style: italic;

            .num{
                font-style: normal;
            }
        }
    }
   
}

h1{
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    margin: 0px;
}

canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    pointer-events: none;
}



#contentBox{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    overflow: hidden;
    
    #printNav{
        font-style: italic;
        color: grey;
    }

    a{
        color: black;
        font-style: normal;
        text-decoration: none;
    }
    a:hover{
        color: blue;  
    }
    #printNav:hover{
        color: blue;
    }
    #bio{
        p{
            margin: 0px;
        }

        #longBio{
            display: none;
        }

    }

    #nav{
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        height: calc(100% - 80px);
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 40px;
        min-width: 250px;
        


        #pageButtons{
            display: flex;
            flex-direction: column;
            justify-content: center;

            a{
                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }
        }
        #pageButtons a .nav-arrow {
            display: none;
        }

        #pageButtons a.active .nav-arrow {
            display: inline-block;
        }
        
        // p{
        //     font-size: 16px;
        // }

        #subscribe{
            display: flex;
            flex-direction: column;
            justify-content: end;

            p{
                font-size: 16px;
                margin-bottom: 8px;
            }
            p.error, p.success{
                font-family: "eb-garamond", serif;
                font-size: 16px;
            }

            form{
                font-size: 16px;
                height: min-content;
                border: 1px solid black;
                


                input{
                    font-family: "eb-garamond", serif;
                    color: black;
                    font-size: 16px;
                    // height: 100%;
                    width: 100%;
                    margin-top: 0px;
                    background-color: rgba(0,0,0,0);
                    padding: 8px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    
                }
            }
            .csw-container{
                width: 100%;
                flex-wrap: nowrap;
                border: none;

                button{
                    font-family: "eb-garamond", serif;
                    font-weight: 100;
                    font-size: 16px;
                    background-color: rgb(238, 238, 238);
                    color: black;
                    padding: 8px;
                    padding-top: 4px;
                    padding-bottom: 4px;
                }
                button:hover{
                    color: blue;
                }
            }
        }
    }
    #bio{
        font-size: 20px;
        margin-top: 40px;
    }

    .workTitle{

            position: sticky;
            top: 0px;
            margin-bottom: 20px;
            h2{
                font-size: 20px;
                margin: 0px;
                font-style: italic;
            }
            p{
                margin: 0px;
            }
            .publicationLinkMobile{
                display: none;
            }
        }

    #textBox{
        scrollbar-width: none;      // Firefox
        -ms-overflow-style: none;   // IE and Edge

        &::-webkit-scrollbar {      // Chrome, Safari, Opera
            display: none;
        }
        height: calc(100% - 40px);
        overflow-y: scroll;
        font-size: 20px;
        margin-top: 40px;
        
        display: grid;
        grid-template-columns: 1fr 2fr;

        
        .workText{
            p{
                margin-top: 0px;
                margin-bottom: 0px;
                line-height: 24px;
            }
            svg{
                margin-top: 40px;
                margin-bottom: 40px;
                path{
                    stroke-width: .5px;
                }
            }
            img{
                width: 100%;
            }
            strong{
                font-weight: 800;
            }
        }

        
    }

    #workList{
        font-size: 20px;
        border-left: 1px solid black;
        padding: 40px;
        padding-bottom: 0px;
        padding-left: 20px;
        height: calc(100vh - 40px);
        overflow-y: scroll;

            a{
                color: grey;
                transition: color 0.1s;
            }
            a.active-work{
                color: black;
            }
            a:hover{
                color: blue;
            }
        }
        
    }




@media (max-width: 700px) {
    #contentBox {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 8px;
        height: auto;

        #nav {
            margin: 0px 0 0 0;
            min-width: unset;
            grid-template-rows: auto;
            height: calc(90vh - 16px);
        }

        #bio {
            font-size: 16px;
            margin-top: 20px;
        }

        .workTitle {
            position: static;
            margin-bottom: 10px;
            h2 {
                font-size: 20px;
            }
            p{
                font-size: 16px;
            }
            .publicationLink{
                display: none;
            }
            .publicationLinkMobile{
                display: block;
            }
        }

        #textBox {
            grid-template-columns: 1fr;
            gap: 8px;
            font-size: 20px;
            margin-top: 20px;
            height: auto;
            
            // display: none;
            .titleBox{
                border: 1px solid black;
                border-radius: 2px;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 8px;
            }
            .workText{
                display: none;
            }
            .workText.visible {
                display: block;
                font-size: 16px;
            }
        }

        #workList {
            display: none;
        }
    }

    body, html {
        font-size: 16px;
    }

    canvas {
        width: 100vw !important;
        height: 100vh !important;
    }
}