<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.supascribe.com/v1/loader/eoMP1SidSARTVDKRRkTOxfzEYqN2.js" async></script>
    <title>Thomas Mar Wee - Collected Works</title>
    {% seo %}
</head>
<body class="book">
    <div id="content">
       {% include book.html %}
    </div>
    <script src="assets/bindery/bindery.js"></script>
    
    <script>
        
        Bindery.makeBook({  
            content: '#content',
            pageSetup: {
                size: { width: '5.5in', height: '8.5in' },
                margin: { top: '0.75in', inner: '0.75in', outer: '0.5in', bottom: '0.75in' },
            },
            rules: [
                Bindery.PageBreak({ selector: 'h2', position: 'before' }),
                Bindery.PageBreak({ selector: 'h1', position: 'before' }),
                Bindery.RunningHeader({
                    render: (pageInfo) => pageInfo.isLeft
                    ? `${pageInfo.number} · ${pageInfo.heading.h1}`
                    : `<em>${pageInfo.heading.h2}</em> · ${pageInfo.number}`
                }),
                Bindery.PageReference({
                    selector: '.toc a',
                    replace: (element, number) => {
                        let row = document.createElement('div');
                        row.classList.add('toc-row');
                        row.innerHTML = element.textContent;
                        row.innerHTML += `<span class='num'>${number}</span>`;
                        return row;
                    }
                }),

            ],
        });
 
    </script>
    
    <script src="assets/js/scrambler.js"></script>
    
</body>
</html>