<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.supascribe.com/v1/loader/eoMP1SidSARTVDKRRkTOxfzEYqN2.js" async></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="contentBox">
        <div id="nav">
            {% include nav.html %}
        </div>
        <div id="bio">
            {% for post in site.about %}
                <div id="shortBio">{{ post.shortBio }}</div>
                <div id="longBio">{{ post.longBio }}</div>
            {% endfor %}
        </div>
        
        
    </div>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/scrambler.js"></script>
    <script src="assets/js/bioLengthener.js"></script>
    
</body>
</html>