<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.supascribe.com/v1/loader/eoMP1SidSARTVDKRRkTOxfzEYqN2.js" async></script>
    <title>Document</title>
</head>
<body>
    <div id="contentBox">
        <div id="nav">
            {% include nav.html %}
        </div>
        <div id="bio">
            is a writer, poet, and editor based in Brooklyn, New York. Contact me at <a href="mailto:thomasmarwee@gmail.com">thomasmarwee(at)gmail.com</a>
        </div>
        
        
    </div>
    <script src="assets/js/script.js"></script>
    <script src="assets/js/scrambler.js"></script>
    
</body>
</html>