<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.typekit.net/fmq4afm.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://js.supascribe.com/v1/loader/eoMP1SidSARTVDKRRkTOxfzEYqN2.js" async></script>
    <title>Document</title>
</head>
<body>
    <div id="contentBox">
        <div id="nav">
            {% include nav.html %}
        </div>
        <div id="textBox">
            {% include text.html %}
        </div>
        <div id="workList">
            {% include workList.html%}
        </div>
          
    </div>
    <script src="assets/js/scrambler.js"></script>
    <script src="assets/js/scrambler.js"></script>
    <script src="assets/js/mobileText.js"></script>
    <script src="assets/js/arrow.js"></script>
</body>
</html>